.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.features__text {
    padding: 80px 66px 0 66px;
}

.features__video {
    width: 310px;
    padding-top: 50px;
    align-items: center;
}


.features__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 255px;
    padding-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
}

.features__icons {
    width: 60px;
    height: 60px;
    padding-top: 7px;
    align-items: center;

}

.features__item_h {
    padding-top: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.features__item_hh {
    padding-top: 10px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    text-align: center;
}