@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Nunito Sans', sans-serif;
    --pricing-color: #252B42;
    --main-color: #2091F9;

}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 320px;
    margin: auto;

}

.button-one {
    align-items: center;
    width: 236px;
    height: 52px;
    background: var(--main-color);
    border-radius: 35px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
}

.button-two {
    align-items: center;
    width: 236px;
    height: 52px;
    background: #fff;
    border-radius: 35px;
    font-size: 20px;
    cursor: pointer;
    color: var(--main-color);
}



.text__h {
    font-size: 40pt;
    text-align: center;
}

.text__hh {
    font-size: 20px;
    padding-top: 17px;
    text-align: center;
}