@import url(common.css);
@import url(header.css);
@import url(features.css);
@import url(fastest.css);
@import url(newsletter.css);
@import url(partners.css);

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Nunito Sans', sans-serif;
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 320px;
    margin: auto;
}
.text__h {
    font-size: 40pt;
    text-align: center;
}

.text__hh {
    font-size: 20px;
    padding-top: 17px;
    text-align: center;
}