.partners {
    padding-top: 132px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partners__items {
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
    width: 276px;
}

.partners__logo {
    padding: 15px 1px;
}

.partners__name {
    text-align: center;
}