.pricing {
    margin-top: 80px;
    background-color: #252B42;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__text_h {
    padding-top: 110px;
    color: #FFFFFF;
}

.rates {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    max-width: 315px;
    height: 607px;
}

.pricing__free {
    background-color: #fff;
    border: 1px solid #DEDEDE;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    color: #252B42;
    margin-top: 90px;
    text-align: center;
}

.pricing__standard {
    background-color: #2091F9;
    border: 1px solid #DEDEDE;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    color: #fff;
    margin: 50px 0;
    text-align: center;
}

.pricing__business {
    background-color: #fff;
    border: 1px solid #DEDEDE;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    color: #252B42;
    margin-bottom: 118px;
    text-align: center;
}

.rate_h {
    font-size: 20px;
    font-weight: bold;
    padding-top: 42px;

}

.rate_hh {
    font-size: 16px;
    padding-top: 4px;
}

.rate__cost {
    /* display: flex; */
    margin-top: 30px;
    /* margin-bottom: 30px; */
    display: grid;
    grid-template-areas: "h2 h3" "h2 ." "h2 h6";
    gap: 10px;
}

.rate__cost_number {
    font-size: 74px;
}

/* .rate__cost_currency {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 0px;
    height: 56px;
} */

.rate__cost_doll {
    font-size: 20px;
    /* height: 28px; */
}

.rate__cost_month {
    font-size: 16px;
    /* height: 28px; */
}

.pricing__feature {
    font-size: 14px;
}

li {
    line-height: 2.5;
}

.standard__button {
    align-items: center;
    width: 236px;
    height: 52px;
    background: #fff;
    border-radius: 35px;
    font-size: 20px;
    color: #2091F9;
    cursor: pointer;
}