.testimonials {
    padding-top: 150px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials__item {
    padding-top: 80px;
}

.testimonials__ibm {
    width: 120px;
    height: 50px;
    margin-bottom: 44px;
}

.testimonials__text {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.testimonials__client {
    display: flex;
    flex-direction: row;
    padding-top: 44px;
}

.avatar {
    width: 42px;
    height: 42px;
    margin-right: 10px;
}
.testimonials__client_text {
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}